<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="e93201e7-c61e-423e-8c11-b8c260ab4a83" Publisher="CN=v-yihtan" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="e93201e7-c61e-423e-8c11-b8c260ab4a83" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ImageingAndProjectionTemplate</DisplayName>
    <PublisherDisplayName>v-yihtan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ImageingAndProjectionTemplate.App">
      <uap:VisualElements DisplayName="ImageingAndProjectionTemplate" Square150x150Logo="Assets\Magnet\icon150.png" Square44x44Logo="Assets\Magnet\icon44.png" Description="ImageingAndProjectionTemplate" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Magnet\icon310 150.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Magnet\icon620 300.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
  </Capabilities>
</Package>